.label-modal {
  .modal-header {
    &--keep {
      background: linear-gradient(to bottom, $color-keep-from 0%, $color-keep-to 100%);
      color: $color-gray;
    }

    &--problem {
      background: linear-gradient(to bottom, $color-problem-from 0%, $color-problem-to 100%);
      color: $color-gray;
    }

    &--try {
      background: linear-gradient(to bottom, $color-try-from 0%, $color-try-to 100%);
      color: $color-gray;
    }
  }
}
