.navigation {
  background-color: $color-navi;
  color: $color-white;
  font-size: $font-size-x-small;
  height: 30px;
  padding-top: 5px;

  &__content {
    margin-left: auto;
    margin-right: auto;
    max-width: $max-width-container;
  }

  &__item {
    color: $color-white;
    float: left;
    padding: 0 4px;
    text-decoration: none;

    a {
      color: $color-white;
      text-decoration: none;
    }

    &--sign-out {
      float: right;
    }
  }
}
