.retrospective-list {
  &__item {
    list-style-type: none;
  }

  &__item-button,
  &__button {
    @extend %form__button;
    margin-right: 5px;
    margin-top: 10px;
    width: 40px;
  }

  &__item-title {
    color: $color-gray;
    font-size: $font-size-x-small;
    margin-right: 5px;
  }
}


