.retrospective-form {
  &__form-inline {
    @extend %form__form-inline;
  }

  &__label {
    @extend %form__label;
    float: left;
    width: 220px;
  }

  &__input {
    @extend %form__input;
    width: 200px;
  }

  &__button {
    @extend %form__button;
    width: 80px;
  }
}
