.retrospective {
  margin-top: 5px;

  &__content {
    display: table-cell;
  }

  &__menu-email-form {
    @extend %form__input;
  }

  &__menu-email-form-button {
    @extend %form__button;
    padding: 10px 0;
    width: 40px;
  }

  &__boards {
    display: table-cell;
  }

  &__menu {
    display: table-cell;
    padding-left: 10px;
  }

  &__board-title {
    font-size: $font-size-xx-small;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  &__labels {
    display: flex;
    flex-wrap: wrap;
    min-height: 150px;
    width: 470px;
  }

  &__label {
    border: 1px solid $color-black;
    border-radius: 10px;
    box-shadow: 0 10px 6px -6px $color-shadow;
    height: 150px;
    width: 150px;

    &--keep {
      background: linear-gradient(to bottom, $color-keep-from 0%, $color-keep-to 100%);
    }

    &--problem {
      background: linear-gradient(to bottom, $color-problem-from 0%, $color-problem-to 100%);
    }

    &--try {
      background: linear-gradient(to bottom, $color-try-from 0%, $color-try-to 100%);
    }

    &.ng-enter {
      opacity: 0;
      transition: all .3s linear;
    }

    &.ng-enter-active {
      opacity: 1;
    }

    &.ng-leave {
      transition: all .2s ease-out;
    }

    &.ng-leave-active {
      opacity: 0;
    }
  }

  &__label-content {
    margin: 8px;
  }

  &__label-description {
    font-size: .8rem;
    font-weight: bold;
    height: 110px;
    overflow: hidden;
  }

  &__label-header {
    color: $color-gray;
    display: flex;
    font-size: .6rem;
    font-weight: bold;
  }

  &__label-remove {
    font-size: 1rem;
  }

  &__label-created-at {
    margin-left: 5px;
    margin-top: 2px;
  }

  &__label-user-name {
    margin-left: 5px;
    margin-top: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70px;
  }

  &__user {
    color: $color-orange;
    font-size: $font-size-xx-small;
    font-weight: bold;
  }

  &__user-name {
    display: inline-block;
    margin-left: 2px;
  }

  &__label-form {
    textarea {
      width: 255px;
    }
  }

  &__user-remove-button {
    margin-top: 6px;
  }
}

