.Label {
  border: 1px solid $color-black;
  border-radius: 10px;
  box-shadow: 0 10px 6px -6px $color-shadow;
  height: 150px;
  width: 150px;

  &.is-keep {
    background: linear-gradient(to bottom, $color-keep-from 0%, $color-keep-to 100%);
  }

  &.is-problem {
    background: linear-gradient(to bottom, $color-problem-from 0%, $color-problem-to 100%);
  }

  &.is-try {
    background: linear-gradient(to bottom, $color-try-from 0%, $color-try-to 100%);
  }

  &-content {
    margin: 8px;
  }

  &-header {
    color: $color-gray;
    display: flex;
    font-size: .6rem;
    font-weight: bold;
  }

  &-remove {
    font-size: 1rem;
  }

  &-createdAt {
    margin-left: 5px;
    margin-top: 2px;
  }

  &-userName {
    margin-left: 5px;
    margin-top: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70px;
  }

  &-description {
    font-size: .8rem;
    font-weight: bold;
    height: 110px;
    overflow: hidden;
  }
}
