.Retrospective {
  margin-top: 5px;

  &-content {
    display: table-cell;
  }

  &-boards {
    display: table-cell;
    padding-right: 10px;
  }

  &-board {
    margin-bottom: 10px;
  }

  &-boardTitle {
    font-size: $font-size-xx-small;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  &-boardLabels {
    display: flex;
    flex-wrap: wrap;
    min-height: 150px;
    width: 470px;

    &:empty {
      background-color: #efefef;
      border-radius: 10px;
      position: relative;
      &::after {
        content: "Click to add label";
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: $font-size-xx-small;
        color: #999;
        letter-spacing: 0.07em;
      }
    }
  }
}
