=form_for @retrospective, html: {class: 'retrospective-form'}, role: 'form' do |f|
  =render 'error_alert', object: @retrospective

  .retrospective-form__form-inline
    %label.retrospective-form__label title
    = f.text_field :title, class: 'retrospective-form__input'

  %button.retrospective-form__button{type: 'submit'}save
